<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @ViewBag.produtos)
                {
                    <tr>
                        <td>@item.nome </td>
                        <td>R$: @item.preco </td>
                        <td>
                            <a href="/Home/RemoveItemCarrinho/@item.id" class="btn btn-danger">X</a>
                        </td>
                    </tr>
                }
                <tr>
                    <td>Total:</td>
                    <td>R$: @ViewBag.valorTotal</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<a asp-controller="Home" asp-action="FinalizarCompra" class="btn btn-success">Confirmar Compra</a>